<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/gym-near.svg" | prepend: site.baseurl | replace: '//', '/' }}" alt="Logo">
	  <h1>20 Weeks to Fit</h1>
	</a>
	<ul id="hz-menu" style="background-color: #028888; list-style-type: none; margin: 0; padding: 0;">
		<li style="display: inline;"><a style="display: inline-block; padding: 8px; margin: 0; color: white;" href="{{ site.baseurl }}about">ABOUT</a></li>
		<li style="display: inline;"><a style="display: inline-block; padding: 8px; margin: 0; color: white;" href="{{ site.baseurl }}">POSTS</a></li>
		<li style="display: inline;"><a style="display: inline-block; padding: 8px; margin: 0; color: white;" href="{{ site.baseurl }}stats">STATS</a></li>
	</ul>
</header>
